@{
    ViewBag.Title = "About NJCC Events";
}
<h2>@ViewBag.Title.</h2>
<br />
<br />
<h4>Web application to record NJCC Events</h4>
<br />
<h4>Contact the system owner or court services technical team for access to this application</h4>