@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<br />

<address>
    Court Services Victoria<br />
    Technology Services<br />
    223 William Street<br />
    Melbourne 3000<br />
    Victoria<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@courts.vic.gov.au">support@courts.vic.gov.au</a><br />
</address>